
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

div.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

:root {
  /* Base font size */
  font-size: 10px;

  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
}



header {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.7);
  margin-top: -175px;
}

.video-bg {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Re-size video to cover full screen while maintaining aspect ratio */
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Center Content */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.55);
}

h1 {
  font-size: calc(1.8em + 2.5vw);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

.text {
  position: absolute;
  width: 450px;
  left: 45%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: 150px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 360px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}





.block {
  width:100%;
  height: 225px;
  margin: 20px 0;
  border-radius: 8px;
}

.b1 { background-color:#5BC3BE; }
.b2 { background-color:#D1E2E4; }
.b3 { background-color:#203A61; }
.b4 { background-color:#61AEB1; }

/* Scroll Button + Animation*/

.scroll-btn {
    width: 30px;
    height: 30px;
    display: block;
    background:transparent;
    background-size: 12px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    left: 50%;
    margin-left:-15px;
    cursor: pointer;
    animation-name: scroll-btn;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes scroll-btn {
    0%  {box-shadow: 0px 0px 0px 0px rgba(247,49,10,1);}
    3% {box-shadow: 0px 0px 0px 2px rgba(247,49,10,1);}
    35% {box-shadow: 0px 0px 0px 10px rgba(247,49,10,0);}
}

/* Scroll button wrap (for second pulse) */

.scroll-btn-wrap {
    width: 30px;
    height: 30px;
    display: block;
    background:#f7310a;
    background-size: 12px;
    border-radius: 100%;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 50%;
    margin-left:-15px;
    cursor: pointer;
    animation-name: scroll-btn-wrap;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes scroll-btn-wrap {
    15%  {box-shadow: 0px 0px 0px 0px rgba(247,49,10,.5);}
    18% {box-shadow: 0px 0px 0px 1px rgba(247,49,10,.5);}
    50% {box-shadow: 0px 0px 0px 7px rgba(247,49,10,0);}
}

/* Scroll Button arrow + Animation */

.scroll-btn i {
  color:white;
  margin: 5px 9px;
  font-size: 20px;
  animation-name: arrow;
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  20% {margin: 5px 9px;}
  30% {margin: 7px 9px;}
  50% {margin: 5px 9px;}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: 4;
  border-style: solid;
  border-color: #f7310a;
  outline: none;
  background-color: transparent;
  color: #f7310a;
  cursor: pointer;
  padding: 5px;
}

#myBtn {border-radius: 50%;}

#myBtn:hover {
  background-color: #f7310a;
  color: white;
}



